
<h1>Input Sitemap Here</h1>
<form id="form" action="/" method="POST">
    <input id="siteMapUrl" type="text" name="siteMapUrl" required>
    <input id="submitButton" type="submit" value="Submit">
</form>
<div id="loadingPlaceholder" class="ui hidden image">
    <img class=" hidden image" src="\assets\loading-128px.gif" alt="Loading...">
</div>

<% if (siteMapUrl) { %>
    <h1>Links for SiteMap URL: <%= siteMapUrl %></h1>
<% }; %>




<% if (typeof linksDict !== "undefined") { %>
    <% if (Object.keys(linksDict).length > 0) { %>
       
        <div class="table-container">
            <table id="linkTable" class="ui unstackable celled table">
                <thead>
                    <tr>
                        <th>Weblink</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% let startingIndex = page * quantity - quantity;
                    let endingIndex = page * quantity - 1;
                    let keys = Object.keys(linksDict);
                    for (let i = 0; i <= Object.keys(linksDict).length; i++) {
                        let key = keys[i];
                        if (linksDict.hasOwnProperty(key)) {
                            if (linksDict[key] !== []) {
                                if (i <= endingIndex) { %>
                                    <tr class="row">
                                <% } else { %>
                                    <tr class="row hidden-row">
                                <% } %>
                                    <td class="row-url"><%= key %></th>
                                    <td class="row-errors"><%= linksDict[key] %></th>
                                </tr>
                            <% }
                        }
                    } %>
                    <% const remainderRows = Object.keys(linksDict).length % quantity;
                    if (remainderRows !== 0) {
                        const emptyRows = quantity - remainderRows;
                        for (let i = 0; i < emptyRows; i++) { %>
                            <tr class="row hidden-row">
                                <td class="row-url"></th>
                                <td class="row-errors"></th>
                            </tr>
                        <% }
                    } %>

                </tbody>
            </table>
        </div>
        <span>

            <button
                id="firstPageButton"
                <% if ((Object.keys(linksDict).length <= quantity) || (page === 1)) { %> disabled <% } %>
            >FIRST</button>
            <button
                id="previousPageButton"
                <% if ((Object.keys(linksDict).length <= quantity) || (page === 1)) { %> disabled <% } %>
            >PREVIOUS</button>
            <input
                type="text"
                id="pageNumber"
                value="<%= page %>"
                <% if (Object.keys(linksDict).length <= quantity) { %> disabled <% } %>
            >
            <button
                id="nextPageButton"
                <% if (Object.keys(linksDict).length <= quantity) { %> disabled <% } %>
            >NEXT</button>
            <button
                id="lastPageButton"
                <% if (Object.keys(linksDict).length <= quantity) { %> disabled <% } %>
            >LAST</button>
        </span>

        <script>

            // Global Variables
            const firstPageButton = document.querySelector('#firstPageButton');
            const lastPageButton = document.querySelector('#lastPageButton');
            const nextPageButton = document.querySelector('#nextPageButton');
            const previousPageButton = document.querySelector('#previousPageButton');
            const pageNumberInput = document.querySelector('#pageNumber');
            const rows = document.querySelectorAll('.row');

            let currentPageNumber = 1;
            const pageQuantity = <%= quantity %>;
            const firstPage = 1;
            const lastPage = (rows.length % pageQuantity !== 0) ? (Math.floor(rows.length / pageQuantity) + 1) : (rows.length / pageQuantity);

        </script>

        <script src="/scripts/loadingIcon.js"></script>
        <script src="/scripts/pageSelection.js"></script>
        

    <% } else { %>
        <li>Unable to find any SiteMap Links</li>
    <% }; %>
<% } else { %>
    <li>linksList is undefined</li>
<% }; %>